<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/search.css">


    <title>Document</title>
    <script>
        function removeFaculty(fetchUrl) {


            console.log("heeloo", fetchUrl);


            const confirmation = confirm('Are you sure you want to delete this faculty?');
            if (confirmation) {
                // Send a request to the backend to delete the profile
                fetch(fetchUrl, {
                    method: 'delete',
                })
                    .then(response => {
                        if (response.ok) {
                            alert('Profile deleted successfully!');
                            window.location.href = '/search';
                            // You can redirect or perform other actions as needed after successful deletion
                        } else {
                            throw new Error('Failed to delete profile');
                        }
                    })
                    .catch(error => {
                        alert(error.message);
                        // Handle the error or display a message to the user
                    });

            }
        }
    </script>
</head>

<body>
    {{>header}}
    {{>search}}

    <div>
        <div class="album py-5 bg-body-tertiary">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {{#each data}}
                        <div class="col">
                            <div class="card shadow-sm">
                                <img alt="Faculty Image" class="img-fluid" id="img1"
                                    src="data:{{this.image.contentType}};base64,{{this.image.data}}"
                                    onerror="this.onerror=null; this.src='https://www.bing.com/images/search?q=blank%20profile%20image&FORM=IQFRBA&id=E9A45CA64F9637C3256BDC7FD0943D2B5517A4F3'">
                                </img>
                                <div class="card-body">
                                    <a href="/faculty/{{this._id}}">
                                        <p class="card-text"> <b>{{this.name}}</b></p>
                                    </a>
                                    <p class="card-text"> {{this.institute}} </p>
                                    <ul>
                                        <li><b>Email: </b><a href="mailto: {{this.email}}">{{this.email}}</a></li>
                                        {{#if this.contactNo}}
                                            <li><b>Contact No.: </b>{{this.contactNo}}</li>
                                        {{/if}}
                                        {{#if this.website}}
                                            <li><b>Website: </b><a href="{{this.website}}">{{this.website}}</a></li>
                                        {{/if}}
                                    </ul>
                                    {{#if this.internship}}
                                        <p>Internship Available !!!</p>
                                    {{/if}}

                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            {{#if (eq ../user.role 'admin')}}
                                                {{#if (eq this.institute ../user.university)}}
                                                    <button class="btn btn-sm btn-outline-secondary"
                                                        onclick="removeFaculty('/faculty-remove/{{this._id}}')">Delete</button>
                                                {{/if}}
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{else}}
                        <p>Your search yielded no results. </p>
                    {{/each}}
                </div>

            </div>
        </div>
    </div>

    {{>footer}}
</body>

<script>

    function updateAction() {


        var nameInput = document.getElementById("searchForm").elements["search2"];
        // var locationInput = document.getElementById("searchForm").elements["location"];
        var courseInput = document.getElementById("searchForm").elements["course"];
        var universitySelect = document.getElementById("searchForm").elements["university"];

        // Check if the "s" query parameter is empty and remove it
        if (nameInput.value === "") {
            nameInput.removeAttribute("name");
        }

        // Check if the "course" query parameter is empty and remove it
        if (courseInput.selectedIndex === 0) {
            courseInput.removeAttribute("name");
        }

        // Check if the "university" is not selected, and remove it if it's empty
        if (universitySelect.selectedIndex === 0) {
            universitySelect.removeAttribute("name");
        }
    }






</script>

</html>