<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FacultyHub</title>
    <link rel="stylesheet" href="../css/university.css">
    <link rel="stylesheet" href="../css/search.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>

<body>

    {{>header}}
    <main>
        <form id="searchForm" action="/search-university" method="get">
            <div id="course" class="main_part">
                <select name="university" id="university">
                    <option value="all">University</option>
                    {{#each universityOption}}
                        <option value="{{this.university}}" {{#if (eq ../searchdata.university
                            this.university)}}selected{{/if}}>
                            {{this.university}}
                        </option>
                    {{/each}}
                </select>
            </div>
            <div id="search_bt" class="main_part1">
                <button type="submit" onclick="updateAction()"><i class="fa fa-search"></i></button>
            </div>
        </form>

        <h1>Registered Universities</h1>
        <div id="colleges">
            {{#each universityData}}
                <a href="/search-faculty?university={{this.university}}">
                    <div class="college">
                        <img src="data:{{this.university_img.contentType}};base64,{{this.university_img.data}}"
                            alt="{{this.university}} logo" class="logo">
                        <p class="name">{{this.university}}</p>
                    </div>
                </a>
            {{/each}}

        </div>
    </main>
    {{>footer}}
</body>
<script>
    function updateAction() {
        var universitySelect = document.getElementById("searchForm").elements["university"];
        if (universitySelect.selectedIndex === 0) {
            universitySelect.removeAttribute("name");
        }
    }
</script>

</html>