<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="../css/search.css">
<div id="search" style="margin-top: 10px;">
    <form id="searchForm" action="/search-faculty" method="get">
        <div id="search_first">
            <input type="text" placeholder="Search.." name="search2" value="{{searchdata.search_query}}" class="search">
        </div>
        {{!-- <label for="location">location:</label>
        <input type="text" name="location" id="location">
        <br> --}}
        <div id="course" class="main_part">
            <select id="course2" name="course">
                <option value="all">Department</option>
                {{#each courseOption}}
                    <option value="{{this}}" {{#if (eq ../searchdata.department this)}}selected{{/if}}>
                        {{this}}
                    </option>
                {{/each}}
            </select>
            <select name="university" id="university2">
                <option value="all">University</option>
                {{#each universityOption}}
                    <option value="{{this.university}}" {{#if (eq ../searchdata.university
                        this.university)}}selected{{/if}}>
                        {{this.university}}
                    </option>
                {{/each}}
            </select>
        </div>
        <div id="search_bt" class="main_part1">
            <button type="submit" onclick="updateAction()"><i class="fa fa-search"></i></button>
        </div>
    </form>
</div>